@import 'skeleton';
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background-image: image-url("background.png");
  margin-top: 200px;

  .nav {
    text-align: center;
  }
}

.button {
  min-width: 100px;
  width: 125px;
  &.active {
    background-color: black;
    border-color: black;
    color: white;
  }
}

h1.headline {
  font-family: 'Oswald', sans-serif;
}
.sub {
  text-transform: uppercase;
}


.avatar img {
  border-radius: 50%;
  height: 250px;
}
