.row
  %section.twelve.columns.nav
    .avatar
      %img(src="/assets/avatar.png")
      %h1.headline Bryan Mikaelian
      %h6.sub Rails, JavaScript, Go, iOS
    %a.button(href="http://github.com/bryanmikaelian" target="_blank") GitHub
    %a.button(href="mailto:bryan.mikaelian@gmail.com") Email
