!!! 5
%html
  %head
    %title Bryan Mikaelian | Rails, JavaScript, Go, iOS
    %meta(name="google-site-verification" content="Q-jOfg-77-UaE0E5x8RzBZ3_ao7f4mzpKUOCzqS6dB4")
    %link(href="/assets/application.css" media="screen" rel="stylesheet")

  %body
    %script(src="/assets/application.js")
    = yield
