!!! 5
%html
  %head
    %title Bryan Mikaelian | Rails, JavaScript, Go, iOS
    %meta(name="google-site-verification" content="Q-jOfg-77-UaE0E5x8RzBZ3_ao7f4mzpKUOCzqS6dB4")
    = stylesheet_tag 'application'

  %body
    .container
      = yield
    = javascript_tag 'application'
