!!! 5
%html
  %head
    %title Bryan Mikaelian | Rails, JavaScript, Go, iOS
    %meta(name="google-site-verification" content="Q-jOfg-77-UaE0E5x8RzBZ3_ao7f4mzpKUOCzqS6dB4")
    = stylesheet_tag 'application'
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

  %body
    .container
      = yield
    = javascript_tag 'application'
